@echo off
set "PROJECT_NAME=__PROJECT_NAME__"
set "TOP_MODULE=__TOP_MODULE__"
set "SIM_TOP_MODULE=__SIMULATION_TOP__"
set "FPGA_PART=__DEVICE____PACKAGE__"
set "VENDOR=__VENDOR__"
set "TOOL=__TOOL__"
set "TOOL_VERSION=__TOOL_VERSION__"
set "DEFAULT_SIMULATION_CASE=__DEFAULT_CASE__"
exit /b 0
